.square {
  width: 8vw;
  height: 8vw;

  display: grid;
  place-content: center;
}
.board {
  background-color: #219ebc;
}
.playing {
  background-color: #ffb703;
}

@media (min-width: 768px ) {
  
}