.square {
  width: 4.5vw;
  height: 4.5vw;
  display: grid;
  place-content: center;
}
.board {
  background-color: #219ebc;
}
.playing {
  background-color: #ffb703;
}

@media (max-width: 720px ) {
  .square {
    width: 13vw;
    height: 13vw;
  }
}