main {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

header h1 {
  text-align: center;
  font-size: 3rem;
  color: white;
}

header .sq-voids {
  display: flex;
}
footer {
  display: flex;
  justify-content: center;
  gap: 2rem;
}
